/*
!/laboratorio.cmd
!/.gitignore
!/.gitattributes
!/README.md
!/LICENSE
!/CITATION.cff
!/NOTICE.md
!/build.gradle
!/settings.gradle
!/gradlew
!/gradlew.bat
!/gradle/
!/gold_miners.jcm
!/logging.properties
!/lib/
!/src/
!/scripts/
!/configuracoes/
!/docs/
!/guia/
!/.devcontainer/
!/licenses/
!/experimentos/
experimentos/*
!experimentos/README.md
!experimentos/protocolo.json
!experimentos/exemplo-indicadores.json
!experimentos/evidencias/
configuracoes/geradas/
**/__pycache__/
**/*.pyc
**/build/
**/.gradle/
**/.jason/
**/log/
**/*.class
**/*.log
**/java.args
*.tmp
lib/*.jar
